@import "tailwindcss";

:root {
  --color-background: #fffaf0;
  --color-foreground: #40342b;
  --color-primary: #ea580c;
  --color-primary-hover: #c2410c;
  --color-border: #d6d3d1;      
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #fffaf0;
    --color-foreground: #40342b;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
